@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Asul&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Asul, sans-serif;
}

/* Heading: Logo and links */

h1, h2 {
    font-family: Artifika, sans-serif;
    text-align: center;
    font-size: 250%;
    margin: 30px;
    padding-top: 60px;
    padding-right: 250px;
}

nav {
    text-align: center;
    padding-right: 280px;
}

li {
    display: inline;
    margin: 4px;
}

a {
    color: black;
    text-decoration: none;
}