@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Asul&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Asul, sans-serif;
}

header {
    position: absolute;
    padding: 80px;
    margin-left: 200px;
}

/* Heading: Logo and links */

h1, h2 {
    font-family: Artifika, sans-serif;
    margin: 30px;
}

nav {
    text-align: center;
}



#logo {
    font-size: 300%;
}

#menu li {
    display: inline;
    margin: 4px;
}

#menu a {
    color: black;
    text-decoration: none;
}
#menu a:hover {
    color: white;
}

/* Hero image */

#hero {
    width: 95%;
    height: 500px;
    background: url(../images/hero.jpg) no-repeat center center;
    margin: 30px;
}